# Compile
CONFIG_USE_APK=n
CONFIG_DEVEL=y
CONFIG_CCACHE=y

# BUSYBOX
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TELNET=y

# Proto
CONFIG_PACKAGE_proto-bonding=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-proto-relay=y

# Libraries
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_libopenssl-legacy=y

# Disable Package
CONFIG_PACKAGE_automount=n

#  DEFAULT SET
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y

#  Coremark
CONFIG_PACKAGE_coremark=y
CONFIG_COREMARK_OPTIMIZE_O3=y
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=6

#  iptables nft
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ip6tables-nft=y

# Package
CONFIG_PACKAGE_easytier=y

# Enable Luci App
CONFIG_PACKAGE_luci-app-easytier=y
CONFIG_EASYTIER_INCLUDE_WEBCONSOLE=n
CONFIG_PACKAGE_luci-app-istorex=y
CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_luci-app-mosdns=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-app-pbr=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wol=y
